@page "/KerryShale"

<PageTitle>Kerry Shale Fanpage: Kerry Shale</PageTitle>

<div class="section mt-5 pt-4">
	<div class="container">
		<div class="row mb-4 align-items-center">
			<div class="col-lg-4">
				<h2 class="heading">Kerry Shale<span class="text-primary">.</span> </h2>
			</div>
			<div class="col-lg-4">
				<p class="text-black-50">
					Some personal details about Mr Shale.
				</p>
			</div>
		</div>

		<AuthorizeView>
			<Authorized>
				<div class="row justify-content-between">
					<div class="col-lg-6 order-lg-3">
						<div class="row w-100 mb-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Name:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">Kerry Shale W***** (he had changed his name in 1977)</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="@BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-name" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-name">More information is available for administrators.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Occupation:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">actor, voice actor, writer, podcaster</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Nationality:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">North American / Canadian</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Birth place:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">Winnipeg, Manitoba, Canada</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Birth date:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">4th June 1952</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Location:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">Islington, London, UK (they had bought a house in July 1996)</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="@BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-location" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-location">More information is available for administrators.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Civil status:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">married</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Hair color:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">black - gray</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Eye color:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">brown</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Height:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">5' 4" (163 cm)</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Spouse:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">Suzanne Shale, former known as Suzanne J. Gibson (Professor for Ethics)</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Children:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">no children, but cats</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Parents:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">both alive, Eddy (Etty) W***** and Lawrence W*****</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="@BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-parents" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-parents">More information is available for administrators.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Siblings:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">he has a sister and a younger brother, both alive, Jodie W***** (Judge) and Clifford 'Cliff' W***** (Professor of English)</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-siblings" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-siblings">More information is available for administrators.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Beliefs:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">atheist, humanist</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Official website:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50"><a href="https://www.kerryshale.com" target="_blank">www.kerryshale.com</a></span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Official YouTube channel:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50"><a href="@("https://www.youtube.com/@kezza52")" target="_blank">@("https://www.youtube.com/@kezza52")</a></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 ps-lg-4">
						<img src="images/KS.jpg" alt="Image" class="img-fluid rounded-3"><br />
						<div class="text-black-100 text-center w-100"><span>Photo by Kerry Shale / Alan Howard</span></div>
					</div>
				</div>
			</Authorized>
			<NotAuthorized>
				<div class="row justify-content-between">
					<div class="col-lg-6 order-lg-3">
						<div class="row w-100 mb-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Name:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">Kerry Shale</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="@BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-name" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-name">More information is available for registered users.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Occupation:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">actor, voice actor, writer, podcaster</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Nationality:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">North American / Canadian</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Birth place:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">Winnipeg, Manitoba, Canada</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Birth date:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">4th June</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-birthdate" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-birthdate">More information is available for registered users.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Location:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">London, UK</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-location" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-location">More information is available for registered users.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Civil status:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">married</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Hair color:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">black - gray</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Eye color:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">brown</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Height:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">5' 4" (163 cm)</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Spouse:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">Suzanne Shale</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-spouse" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-spouse">More information is available for registered users.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Children:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">no information available</span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Parents:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">both alive</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-parents" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-parents">More information is available for registered users.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Siblings:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">he has siblings, all alive</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-siblings" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-siblings">More information is available for registered users.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Beliefs:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50">atheist, humanist</span>
								<BlazorBootstrap.Icon Name="@BlazorBootstrap.IconName.InfoCircleFill" Color="BlazorBootstrap.IconColor.Info" data-blazorstrap="tt-info-beliefs" />
								<BSTooltip Placement="Placement.Top" Target="tt-info-beliefs">More information is available for registered users.</BSTooltip>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Official website:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50"><a href="https://www.kerryshale.com" target="_blank">www.kerryshale.com</a></span>
							</div>
						</div>
						<div class="row w-100 my-3">
							<div class="col-4 border-left">
								<span class="text-black-100 w-50">Official YouTube channel:</span>
							</div>
							<div class="col-7">
								<span class="text-black-100 w-50"><a href="@("https://www.youtube.com/@kezza52")" target="_blank">@("https://www.youtube.com/@kezza52")</a></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 ps-lg-4">
						<img src="images/KS.jpg" alt="Image" class="img-fluid rounded-3"><br />
						<div class="text-black-100 text-center w-100"><span>Photo by Kerry Shale / Alan Howard</span></div>
					</div>
				</div>
			</NotAuthorized>
		</AuthorizeView>

	</div>
</div>